#
# Copyright (C) 2026 AuxXxilium <https://github.com/AuxXxilium>
#
# This is free software, licensed under the MIT License.
# See /LICENSE for more information.
#
# Create /dev/sg* character device nodes for SCSI generic devices.
# Required by: dhm_tool (IronWolf Health Management), smartctl -d scsi/sat,
#              SCSI enclosure services (SES), SCT temperature reads.
# DSM has no built-in rule for SUBSYSTEM=="scsi_generic".
#

ACTION=="add", SUBSYSTEM=="scsi_generic", KERNEL=="sg[0-9]*", RUN+="/sbin/modprobe sg"
ACTION=="add", SUBSYSTEM=="scsi_generic", KERNEL=="sg[0-9]*", MODE="0660", GROUP="disk"
